body{
    background-color: #27282b;
    justify-content: center;
    align-items: center;
    height: 350px;
}
h1{
    color: white;
    text-align: center;
}

button{
    border-radius: 5px;
    margin:10px;
    padding: 10px;
    font-size: small;
}

nav {
    display: flex;
    align-items: center;
    margin: 10px;
}

#newarraybtn{
    border-color: rgb(0, 243, 243);
    color: rgb(0, 243, 243);
    background-color: #27282b;
    
}
#newarraybtn:hover{
    box-shadow: 0 0 20px rgba(0, 140, 186, 0.7);
    cursor: pointer;
}
.sortbtn:hover{
    box-shadow: 0 0 20px rgba(51, 187, 240, 0.7);
    cursor: pointer;
}

.btns{
    display: flex;
    margin-left: auto;
}
.bars{
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: white;
}
#bardiv{
    background-color: #27282b;
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.bar{
    background-color: yellow;
    width: 8px;
    margin-left:3px;
    display: flex;
}
#barrange,label,#speedrange{
    margin-left: 10px;
}

.sortbtn{
    border-color: rgb(65, 147, 255);
    color: rgb(65, 147, 255);
    background-color: #27282b;
    margin-left: 10px;
}
.on{
    pointer-events: none;
    background-color: green;
    border-color: black;
    color: aliceblue;
    box-shadow: 0 0 20px rgba(34, 239, 96, 0.7);
}
.off {
    pointer-events: none;
    opacity: 0.5;
    border-color: red;
    color: red;
}

@media (max-width: 450px) {
    h1{
        font-size:2.5em;
    }
    nav {
        display: block;
        align-items: center;
        justify-content: center;
        /* margin: 10px; */
    }
    .input{
        width: 65px;
        margin-right: 10px;
        /* padding-top: 20px; */
        /* margin: auto; */
        /* margin-top: 50px; */
    }

    .btns{
        font-size: 20px;
        /* padding: 4px 8px; */
        width: 20px;
        height: fit-content;
        margin-left: 0;
        margin-right: auto;
        margin-top: 10px;
    }
    .rangespan{
        margin-left: 20px;
        margin-inline: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sortbtn{
        margin-left: auto;
    }
    .label{
        font-size: smaller;
        margin-left: 1px;
        /* margin: 2px; */
    }
    
    #bardiv {
        width: 22em;
        padding: 10px;
        border-color: yellow;
    }
    .bars{
        border-color: yellow;
        justify-content: center;
        align-items: center;
    }
    .bar {
        width: 3%;
    }
    
}